*,
a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: rgb(50, 50, 50);
}

body {
    background-color: cadetblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    margin: 20px;
    background-color: bisque;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .3);
}

nav {
    list-style: none;
}

ul {
    margin-bottom: 0px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
}

a:hover {
    background-color: chocolate;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

h1 {
    font-weight: 600;
    margin-bottom: 0px;
}

.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: bisque;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .3);
    padding: 10px;
}

.pageTitle h1 {
    font-size: 20px;
}

#userProfile {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: bisque;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .3);
    padding: 10px;
}

#userProfile p {
    font-weight: 600;
}

.progress-bar {
    position: relative;
    width: 500px;
    height: 3em;
    margin: 250px auto;
    background-color: bisque;
    border-radius: 20px;
    color: rgb(50, 50, 50);
}

.progress-bar::before {
    position: absolute;
    content: attr(data-label);
    font-weight: 600;
    display: flex;
    align-items: center;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    border-radius: 20px;
    padding: 1em;
    background-color: cadetblue;
}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-register form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.login-register form input {
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .3);
    border-color: bisque;
    border-width: 5px;
    ;
    background-color: cadetblue;
    padding: 7px;
    border-style: solid;
}

::placeholder {
    color: black;
    font-weight: 300;
    text-align: center;
}

input,
select,
textarea {
    color: black;
    font-weight: 600;
}

.mapContainer {
    margin: 15px 15px;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .3);
}

.chartContainer {
    background-color: bisque;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, .3);
}

.datePicker {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 80%;
    /* Adjust the width percentage as needed */
    max-width: 200px;
    /* Set a maximum width if desired */
    padding: 1%;
}

.dateInput {
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: cadetblue;
    color: white;
    text-align: center;
}

.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.toggleContainer label {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.toggleContainer input[type="checkbox"] {
    margin-left: 5px;
}

.toggleContainer input[type="checkbox"] {
    margin-left: 5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid cadetblue;
    background-color: bisque;
    position: relative;
}

.toggleContainer input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: cadetblue;
    border-radius: 50%;
}